.taskcard-container {
  background-color: #ffad33;

  min-width: 500px;
  height: 160px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;

}
.taskcard-container h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 5px;
}
.taskcard-container p {
  font-style: italic;

}
.taskcard-slide {
  background-color: aliceblue;
  height: 120px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
}
